
export(wvs_countries)
export(wvs_items)
export(wvs_dimensions)
export(dims_core)
export(dims_main)
export(dims_extended)
export(dims_dev)
export(dims_all)

export(wvs_space)
export(wvs_neighbors)
export(wvs_clusters)

export(wvs_profile)
export(wvs_compare)
export(wvs_difference)

S3method(print,wvsR)
S3method(str,wvsR)

S3method(plot, wvs_space)
S3method(plot, wvs_compare)
S3method(plot, wvs_difference)
S3method(plot, wvs_profile)
